body {
    background-color: blanchedalmond;
    font-family: 'Courier New',Courier;
    border: 0;
    padding: 0;
    margin: 0;
}

#d3-graph {

}
  

#topPanel {

}

#mainPanel {

}


#bottomPanel {

}
